.visitor-btn-group {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.visitor-button {
    padding: 20px;
    color: #171717;
    background: #c9e5ff;
    border-color: #171717;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: "Delius", cursive;
}

.bi {
    font-weight: bolder;
}

.bi-person-fill {
    color: darkblue;
}

.bi-signpost-split-fill {
    color: darkgreen;
}

.visitor-destination {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 1.3rem;
}

.bi-watch {
    color: darkred;
}

.visitor-time-in {
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings: "wdth" 75;
    font-size: 0.8rem;
}

.visitor-button-sign-out {
    padding: 0 20px;
    color: #171717;
    background-color: #d12b2b;
    border-color: #171717;
    font-size: 1.1rem;
    font-family: "Delius", cursive;
    font-weight: bold;
}
